<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h1>ブログアプリケーション</h1>
        <article>
            <h2>記事タイトル1</h2>
            <p>2020年12月7日 15:47</p>
            <p>記事1の内容です</p>
        </article>
        <article>
            <h2>記事タイトル2</h2>
            <p>2020年12月14日 09:11</p>
            <p>記事2の内容です</p>
        </article>
    </body>
</html>